@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .debug {
        border: 2px solid red
    }
}

* {
    /* border: 1px solid red */
}

/* 
span {
    color: black;
    font-size: 10px;
    opacity: 1;
} */